
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue",
    Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#menuBar {
  background-color: white;
  height: 66px;
  border-bottom: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  color: white;
}



#logo {
  font-size: 60%;
  font-weight: bold;
}

.trademark {
  color: orange;
}

.be-block {
  display: block;
}

#logo small {
  font-size: 13px;
}

#runBtn {
  font-size: 120%;
  padding: 3px 8px;
  border: 1px solid orange;
  background-color: #000;
  color: orange;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
}

#toggles {
  display: inline-block;
  list-style: none;
  border: 1px solid orange;
  border-radius: 3px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 17px;
}

#toggles:after {
  content: "";
  display: table;
  clear: both;
}

#toggles li {
  float: left;
  border-right: 1px solid orange;
  height: 28px;
  line-height: 28px;
  padding: 0 5px;
  cursor: pointer;
}

#toggles li:last-child {
  border-right: none;
}

.toggle.active {
  background-color: orange;
  color: black;
}

.code-container {
  height: calc(100vh - 41px);
  width: 50%;
  background-color: #ffffff;
  position: relative;
  float: left;
}


.section-label {
  position: absolute;
  border: 1px solid black;
  padding: 3px 8px;
  top: 5px;
  right: 5px;
  color: black;
  background-color: black;
  color: white;
}

#jsContainer,
#cssContainer {
  display: none;
}

#resultBox {
  margin-left:10px;
  padding-top:10px;
  word-wrap: break-word;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #fff;
}

#border{
  height:100vh;
    border: none;
  border-left: 3px solid black;
}

#resultBox > h1 {
 margin: 0;
}
